<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <entry name="CONF_VERSION">CONF_VERSION_1</entry>
  <entry name="GAME_RENDER_TYPE">GAME_RENDER_LWJGL</entry>
  <entry name="GAME_MUSIC">true</entry>
  <entry name="GAME_MUSIC_VOLUME">0.5</entry>
  <entry name="GAME_SOUND">true</entry>
  <entry name="GAME_SOUND_VOLUME">0.5</entry>
  <entry name="USER_HIGHSCORE_NAME_1">-</entry>
  <entry name="USER_HIGHSCORE_NAME_2">-</entry>
  <entry name="USER_HIGHSCORE_NAME_3">-</entry>
  <entry name="USER_HIGHSCORE_NAME_4">-</entry>
  <entry name="USER_HIGHSCORE_NAME_5">-</entry>
  <entry name="USER_HIGHSCORE_SCORE_1">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_2">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_3">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_4">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_5">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_1">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_2">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_3">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_4">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_5">0</entry>
  <entry name="TICKS_PER_SECOND">60</entry>  
  <entry name="DEBUG_SHOW_CLIP_RECT">false</entry>
  <entry name="ANIMATION_JUMP_MOVE_SPEED">7</entry>
  <entry name="ANIMATION_JUMP_MOVE_DURATION">55</entry>
  <entry name="ANIMATION_JUMP_MOVE_GRAVITY">3</entry>
  <entry name="ANIMATION_JUMP_FADE_WAIT">0</entry>
  <entry name="ANIMATION_JUMP_FADE_DURATION">55</entry>
  <entry name="ANIMATION_ROCKET_MOVE_SPEED">6</entry>
  <entry name="ANIMATION_ROCKET_MOVE_GRAVITY">0</entry>
  <entry name="ANIMATION_ROCKET_FADE_WAIT">0</entry>
  <entry name="ANIMATION_ROCKET_FADE_DURATION">55</entry>
  <entry name="ANIMATION_BOMB_FADE_WAIT">0</entry>
  <entry name="ANIMATION_BOMB_FADE_DURATION">55</entry>
</settings>
