<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <entry name="CONF_VERSION">CONF_VERSION_1</entry>
  <entry name="GAME_RENDER_TYPE">GAME_RENDER_LWJGL</entry>
  <entry name="GAME_MUSIC">true</entry>
  <entry name="GAME_MUSIC_VOLUME">0.5</entry>
  <entry name="GAME_SOUND">true</entry>
  <entry name="GAME_SOUND_VOLUME">0.5</entry>
  <entry name="USER_HIGHSCORE_NAME_1">-</entry>
  <entry name="USER_HIGHSCORE_NAME_2">-</entry>
  <entry name="USER_HIGHSCORE_NAME_3">-</entry>
  <entry name="USER_HIGHSCORE_NAME_4">-</entry>
  <entry name="USER_HIGHSCORE_NAME_5">-</entry>
  <entry name="USER_HIGHSCORE_SCORE_1">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_2">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_3">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_4">0</entry>
  <entry name="USER_HIGHSCORE_SCORE_5">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_1">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_2">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_3">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_4">0</entry>
  <entry name="USER_HIGHSCORE_LEVEL_5">0</entry>
  <entry name="TICKS_PER_SECOND">60</entry>
  <entry name="DEBUG_SHOW_CLIP_RECT">false</entry>
  <entry name="REFACTOR_SPEED_SLOWER">70</entry>
  <entry name="REFACTOR_SPEED_SLOW">125</entry>
  <entry name="REFACTOR_SPEED_NORMAL">190</entry>
  <entry name="REFACTOR_SPEED_DROP">250</entry>
  <entry name="REFACTOR_SPEED_SHIFT">250</entry>
  <entry name="ANIMATION_JUMP_MOVE_SPEED">340</entry>
  <entry name="ANIMATION_JUMP_MOVE_DURATION">880</entry>
  <entry name="ANIMATION_JUMP_MOVE_GRAVITY">800</entry>
  <entry name="ANIMATION_JUMP_FADE_WAIT">0</entry>
  <entry name="ANIMATION_JUMP_FADE_DURATION">880</entry>
  <entry name="ANIMATION_ROCKET_MOVE_DURATION">880</entry>
  <entry name="ANIMATION_ROCKET_MOVE_SPEED">375</entry>
  <entry name="ANIMATION_ROCKET_MOVE_GRAVITY">0</entry>
  <entry name="ANIMATION_ROCKET_FADE_WAIT">0</entry>
  <entry name="ANIMATION_ROCKET_FADE_DURATION">880</entry>
  <entry name="ANIMATION_BOMB_FADE_WAIT">0</entry>
  <entry name="ANIMATION_BOMB_FADE_DURATION">880</entry>
  <entry name="ANIMATION_ROWFADE_WAIT">220</entry>
  <entry name="ANIMATION_ROWFADE_DURATION">960</entry>
  <entry name="SCT_SCORE_MOVE_DURATION">1300</entry>
  <entry name="SCT_SCORE_MOVE_SPEED">30</entry>
  <entry name="SCT_SCORE_MOVE_THETA">90</entry>
  <entry name="SCT_SCORE_FADE_WAIT">420</entry>
  <entry name="SCT_SCORE_FADE_DURATION">880</entry>
  <entry name="SCT_SCORE_FADE_MIN_OPACITY">0</entry>
  <entry name="SCT_SCORE_FADE_MAX_OPACITY">100</entry>
  <entry name="SCT_LEVELUP_TEXT">Level Up!</entry>
  <entry name="SCT_LEVELUP_TEXT_SIZE">26</entry>
  <entry name="SCT_LEVELUP_MOVE_DURATION">1300</entry>
  <entry name="SCT_LEVELUP_MOVE_SPEED">30</entry>
  <entry name="SCT_LEVELUP_MOVE_THETA">0</entry>
  <entry name="LOADER_BAR_FADE_WAIT">580</entry>
  <entry name="LOADER_BAR_FADE_DURATION">1280</entry>
  <entry name="MAIN_MENU_STARBURST_OMEGA">0.002</entry>
  <entry name="MAIN_MENU_WINDOW_OPACITY">60</entry>
  <entry name="MAIN_MENU_WINDOW_SPEED">800</entry>
  <entry name="MAIN_MENU_SLIDE_SPEED">375</entry>
  <entry name="MAIN_MENU_SLIDE_MIN_X">630</entry>
  <entry name="MAIN_MENU_SLIDE_WAIT">230</entry>
  <entry name="MAIN_MENU_LOGO_FADE_IN_WAIT">580</entry>
  <entry name="MAIN_MENU_LOGO_FADE_IN_DURATION">2400</entry>
  <entry name="MAIN_MENU_LOGO_FADE_OUT_WAIT">0</entry>
  <entry name="MAIN_MENU_LOGO_FADE_OUT_DURATION">1600</entry>
</settings>
